body{
    background-color: #ffff83;
    margin: 0;
}
nav{
    background-color: #b9de51;
    z-index: 1;
    position: fixed;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.produto{
    z-index: 0;
    background-color: #cdcfb7;
    border-radius: 50px;
    padding: 10px;
    margin: 50px;
    width: 200px;
    height: auto;
    flex: 1;
    text-align: center justify;
    transition: all 1000ms;
}
.produto:hover{
    cursor: pointer;
}
.produto:active{
    background-color: #7d7e6c;
}
.image{

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: auto;
}
.carrinho{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.nome{
    font-size: 25px;
}
.descri{
    display: none;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    font-size: 15px;
}
.price{
    text-align: center;
    font-size: 30px;
}
.buttonCarrinho{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    border-radius: 20px;
    background-color: rgb(73, 168, 252);
}
.buttonCarrinho:hover{
    background-color: rgb(255, 252, 88);
}
.buttonCarrinho:active{
    background-color: rgb(90, 243, 128);
}
#map{
    visibility: hidden;
    width: 98vw;
    height: 80vh;
    z-index: 2;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    position: fixed;
}
#exibir, #ocultar, label{
    position: relative;
    top: 30%;
    height: 30px;
}
#itens, #total{
    position: relative;
    top: 10%;
}
#ocultar{
    visibility: hidden;
}
@media screen and (max-width: 700px){
    #icone{
        display: none;
    }
}
